<footer>
    <div class="footContainer">
        <div class="footList">
            <h3>Get to Know Us</h3>
            <a href="/">Careers</a><br>
            <a href="/">Investor Relations</a><br>
        </div>
        <div class="footList">
            <h3>Make Money with Us</h3>
            <a href="/">Sell on Amazon</a><br>
            <a href="/">Advertise Your Products</a><br>
        </div>
        <div class="footList">
            <h3>Amazon Payment Products</h3>
            <a href="/">Amazon.ca Rewards Mastercard</a><br>
            <a href="/">Gift Cards</a><br>
        </div>
        <div class="footList">
            <h3>Let Us Help You</h3>
            <a href="/">Shipping Rates & Policies</a><br>
            <a href="/">Customer Service</a><br>
        </div>
    </div>

    <div class="headerImg">
        <img src='/img/amazon.png' alt='' width="30%">
    </div>
    WEB Assignment 5, created by Xiaoqi Li
</footer>