<form action="">
    <h2>Sign-In</h2>
    <label class="regisLable" for="email">Email</label><br>
    <input type="email" id="email" name="email" class="regisInput" required><br>
    <label class="regisLable" for="password">Password</label><br>
    <input type="password" id="password" name="password" placeholder="At least 6 characters" class="regisInput" required><br>
    <p class="regisI"><mark>i </mark><span class="regisPass">Passwords must consist of at least 6 characters.</span></p><br>

    <input type="submit" class="regisSub" value="Login your Amazon account"><br>
    <br>
    <br>
    <br>
    <p>No account?<a href="/registration">Create an account</a></p>
</form>