<form action="">
    <h2>Create account</h2>
    <label class="regisLable" for="yourName">Your name</label><br>
    <input type="text" id="yourName" name="yourName" class="regisInput" required><br>
    <label class="regisLable" for="email">Email</label><br>
    <input type="email" id="email" name="email" class="regisInput" required><br>
    <label class="regisLable" for="password">Password</label><br>
    <input type="password" id="password" name="password" placeholder="At least 6 characters" class="regisInput" required><br>
    <p class="regisI"><mark>i </mark><span class="regisPass">Passwords must consist of at least 6 characters.</span></p><br>
    <label class="regisLable" for="passwordAgain">Password again</label><br>
    <input type="password" id="passwordAgain" name="passwordAgain" class="regisInput" required><br>

    <input type="submit" class="regisSub" value="Create your Amazon account"><br>
    <br>
    <br>
    <br>
    <p>Already have an account?<a href="/login">Sign in</a></p>
</form>