* {
    margin:0;
    padding:0;
}

/*---------       Header     -----------------*/
header {
    width: 100%;
    background-color:#7ba9cc;
    height: auto;
    /*display: inline-block;*/
    text-align: center;
    color: white;
    /*margin-bottom: 1em;*/
}
.headcontainer {
    background-color: navy;
    margin-bottom: 1em;
}
/*---------       Navigation     -----------------*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

.nav-list a:link, .nav-list a:visited {
    display: block;
    color: #ffffff;
    background-color: navy;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
    border-left: 0.06em inset #ecefec;
    border-right: 0.06em inset #ecefec;
}
/*---------       Home page     -----------------*/
.categories{
    background-color:gainsboro;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13em, 1fr));
  }
.categories1 {
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin-left: 1em;
    margin-top: 1em;
}
.bestSellers {
    background-color:gainsboro;
    height: auto;
    display: grid;
    grid-template-rows: auto 1fr;   
}
.bestTitle{
    margin-left: 1em;
}
.bestSeller1 {
    display: grid;
    grid-auto-flow: column;
    overflow: auto;
    /*width: 25%;*/
    /*padding: 0.625em;*/
    height: auto;
    text-align: left;
    margin-left: 1em;
    margin-bottom: 1em;
    
}
/*---------       Products page     -----------------*/
.productsPage{
    display: grid;
    grid-template-columns: 12% 88%;
}
.nav-products{
    padding-left: 0.5em;
    padding-top: 1em;
    background-color: aquamarine;
    word-break: break-all;
}
.nav-product-list{
    margin-left: 1em;
    background-color: aquamarine;
    display: list-item;
}
.myProducts-searchForm{
    border: 0em;
}
.myProducts {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    padding: 0.5em 0.125em;
    margin: 0em 1em;
}
.myProducts1 {
    border: 0.0625em solid rgb(182, 180, 180);
    padding: 0.625em;
    height:auto;/*340px;*/
    position: relative;
    display: grid;
}

.img-container {
    text-align: center;
}

.attributes{
    width: 20%;
    font: 1rem Arial;
    height: 1.25em;
    padding: 0.0625em 0 0 0.125em;
    color: rgb(235, 59, 59);
}
.products-des{
    font: 1rem Arial;
    padding-left: 0.1875em;
}
.products-cate{
    position: absolute;
    color: rgb(72, 194, 133);
    font: 1rem Arial;
    right: 1em;
    bottom: 0em;

}
/*--------- Product description page -----------------*/
.oneProduct-container{
    display: grid;
    grid-template-columns: 60% 40%;
}
.oneProduct-img-container{
    padding: 3em;
    text-align: center;
}
.oneProduct-form{
    border: 0em;
}
.oneProduct-myProducts{
    padding-right: 5em;
    padding-top: 3em;
    padding-right: 3em;
    display: grid;
}
/*---------       Footer     -----------------*/
footer {
    width: 100%;
    background-color:#7ba9cc;
    height: auto;
    display: inline-block;
    text-align: center;
    color: white;
    margin-top: 1em;
}
* {
    box-sizing: border-box;
}
.footContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
}
.footList {
    display: grid;
    color: black;
    /*
    left: 0;
    float: left;
    width: 25%;
    padding: 0.625em;
    height: 12.5em;*/
    text-align: left;
}
.footContainer:after {
    content: "";
    display: table;
    clear: both;
}
a {
    color: rgb(31, 31, 235);
    text-decoration: none;
}
a:hover{
    color:blue;
}
/*--------- Registration and Login page  -----------------*/
.regisForm{
    text-align: center;
}
form {
    border: 1px solid lightgray;
    border-radius: 0.25em;
    display: inline-block;
    position: relative;
    text-align: left;
    width: 18.75em;
    height: auto;
    padding: 0.875em 1.125em;
}

form p {
    margin: 0;
}

.regisLable {
    font: 0.9rem Arial;
    padding-bottom: 0.125em;
    font-weight: bolder;
}

.regisInput {
    margin-bottom: 0.5em;
    border: 1px solid #a6a6a6;
    border-radius: 0.1875em;
    width: 90%;
    line-height: normal;
    height: 1.9375em;
    padding-left: 0.25em;
}
.regisI {
    font: 1rem;
    font-style:italic;
    color: blue;
}

.regisPass{
    font: 1rem Arial;
    color: black;
}

.regisSub {
    width: 100%;
    background-color: rgb(31, 226, 233);
    line-height: 1.375em;
    margin-top: 0.5625em;
    border-radius: 0.1875em;
    cursor: pointer;
}
.errorMessage{
    color: red;
}
/*--------- Shopping cart page -----------------*/
.submit-shoppingCart{
    text-align: center;
}
.oneItem-shoppingCart{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.oneItem-shoppingCart-img{
    text-align: center;
}
.oneItem-shoppingCart-info{
    text-align: center;
}
.total-shoppingCart{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: none;
}
.form-shoppigCart{
    width: 100%;
    border: none;
}
.order-submit-shoppingCart{
    text-align: center;
}
@media(max-width:800px){
    .myProducts{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(13em, 1fr));
        max-width: 100%;
    }
    .oneProduct-container{
        display: grid;
        grid-template-columns: repeat(auto-fit);
        max-width: 100%; 
    }
    .oneItem-shoppingCart{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(13em, 1fr));
        max-width: 100%;
    }
}