<h2>Dear {{user.yourName}}:</h2><br><br>
<p>Welcome you to the dashboard page.</p><br><br>
<div>
    <a href="/products">All Products</a><br><br>
    <a href="/Cart/list">Shopping carts</a><br><br>
</div>
