<div class="regisForm">
    <form action="/user/login" method="POST">
        <h2>Sign-In</h2>
        <label class="regisLable" for="email">Email</label><br>
        <input type="email" id="email" name="email" class="regisInput" value="{{this.email}}"><br>
        <p class="errorMessage">{{this.errorE}}</p>
        <label class="regisLable" for="password">Password</label><br>
        <input type="password" id="password" name="password" placeholder="At least 6 characters" class="regisInput"
            value="{{this.password}}"><br>
        <p class="errorMessage">{{this.errorP}}</p>

        <p class="regisI">i <span class="regisPass">Passwords must consist of at least 6 characters.</span>
        </p><br>

        <input type="submit" class="regisSub" value="Login your Amazon account"><br>
        <br>
        <br>
        <br>
        <p>No account?<a href="/user/registration">Create an account</a></p>
    </form>
</div>