<div id="promotion">
    <img src='/img/promotion.jpg' alt='' width="100%" height="80%">
</div>


<div class="categories">
    {{#each categorySection}}
    <div class="categories1">
        <p>
            {{this.category}}
        </p>
        <img class="pro-img" src="{{this.categoryImg}}" alt='' width="220" height="240"><br>
        <a href="/">Explore now</a>
    </div>
    {{/each}}
</div>


<div class="bestSellers">
    <br>
    <p class="bestTitle">
        Best sellers
    </p>
    <div class="bestSeller1">
    {{#each sellerSection}}
        
            <img src="{{this.productImg}}" alt='' width="220" height="240">
        
    {{/each}}
    </div>
</div>